* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1f2937;
    width: 100%;
    height: 60px;
    position: fixed;
}

header a, #first p, footer p {
    color: #e5e7ed;
    font-size: 18px;
}

header #wrapper {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#img {
    width: 50px;
    height: 50px;
    margin-top: 8px;
}

#first {
    height: 500px;
    padding-top: 40px;
    background-color: #1f2937;
    color: #f9faf8;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#text {
    text-align: center;
    width: 30%;
}

#text button {
    margin-top: 5px;
}

#first h1 {
    width: 110%;
    font-size: 48px;
    font-weight: bold;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 5px solid #3882f6;
    border-radius: 10%;
}

#second {
    height: 550px;
}

#goals {
    padding-top: 30px;
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    display: flex;
    justify-content: center;
}

#container {
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.figures {
    flex-direction: column;
    text-align: center;
    width: 20%;
    height: 20%;
}

.pic {
    border: 5px solid #3882f6;
    border-radius: 10%;
    margin: 10px;
    height: 80px;
}

#third {
    height: 600px;
    background-color: #e5e7eb;
    font-size: 36px;
    font-family: italic;
    color: #1f2937;
}

#title {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#about {
    height: 400px;
    width: 90%;
    margin-left: 8%;
    display: flex;
    align-items: center;
}

#fourth {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blueContainer {
    height: 100px;
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#fourth p {
    color: #e5e7eb;
}

#fourth button {
    border: 2px solid #f9faf8;
    width: 100px;
    border-radius: 15%;
}

footer {
    height: 50px;
    background-color: #1f2937;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}