header, footer {
    background-color: #1f2937;
}

header a, #first p {
    color: #e5e7ed;
    font-size: 18px;
}

#first {
    background-color: #1f2937;
    color: #f9faf8;
}

#first h1 {
    font-size: 48px;
    font-weight: bold;
}